@import '../../globalStyles/variables';

.about-section {
  height: 100dvh;
  width: 100dvw;
  padding: 4rem;
  background-color: $bg-primary;
  color: $font-primary;

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  a {
    font-size: 1.2rem;
    color: black;

    &:hover {
      transform: translateY(10px);
    }
  }
}